<%= form_with(model: planet, local: true) do |form| %>
  <% if planet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(planet.errors.count, "error") %> prohibited this planet from being saved:</h2>

      <ul>
      <% planet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :planet_name %>
  </div>

  <div class="field">
    <%= form.label :distance_sun %>
    <%= form.number_field :distance_sun, id: :planet_distance_sun %>
  </div>

  <div class="field">
    <%= form.label :radius_planet %>
    <%= form.number_field :radius_planet, id: :planet_radius_planet %>
  </div>

  <div class="field">
    <%= form.label :orbit_sun %>
    <%= form.number_field :orbit_sun, id: :planet_orbit_sun %>
  </div>

  <div class="field">
    <%= form.label :num_moon %>
    <%= form.number_field :num_moon, id: :planet_num_moon %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image, id: :planet_image %>
  </div>

  <div class="field">
    <%= form.label :info %>
    <%= form.text_area :info, :autofocus => true %>
  </div>

  <!-- <div class="field">
    <%# form.label :radius_orbit %>
    <%# form.number_field :radius_orbit, id: :planet_radius_orbit %>
  </div> -->

  <!-- <div class="field">
    <%# form.label :moon_id %>
    <%# form.number_field :moon_id, id: :planet_moon_id %>
  </div> -->

  <!-- <div class="field">
    <%# form.label :user_id %>
    <%# form.number_field :user_id, id: :planet_user_id %>
  </div> -->

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
