<div class="form-style">
  <%= form_with(model: planet, local: true, html: { :multipart => true }) do |form| %>

    <% if planet.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(planet.errors.count, "error") %> prohibited this planet from being saved:</h2>
        <ul>
          <% planet.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.label :name %>
    <%= form.text_field :name, id: :planet_name %>

    <%= form.label :distance_sun %>
    <%= form.number_field :distance_sun, id: :planet_distance_sun %>

    <%= form.label :radius_planet %>
    <%= form.number_field :radius_planet, id: :planet_radius_planet %>

    <%= form.label :orbit_sun %>
    <%= form.number_field :orbit_sun, id: :planet_orbit_sun %>

    <%= form.label :num_moon %>
    <%= form.number_field :num_moon, id: :planet_num_moon %>

    <%= form.label :image %><br>
    <%= form.file_field :image %>

    <%= form.label :info %>
    <%= form.text_area :info, :autofocus => true,  :class => 'notes-text-area'  %>

    <%= form.submit %>
  <% end %>
</div><!-- END form-style DIV -->
