<p id="notice"><%= notice %></p>

<h2>Planets</h2>
<div id="solar-animation">
  <%= content_tag :div, id: "solar", data: {planets: @planets} do %>
  <% end %>
</div>

<aside class="planet-list">
  <% @planets.each do |planet| %>
   <p id="planet-index">
     <div id="orb-container">
       <div id="orb-text-centered">
         <%= link_to planet.name, planet_path(planet.id) %>
       </div>
       <% unless planet.image == nil || planet.image.empty? %>
         <%= link_to image_tag(planet.image, :alt => planet.name, :class => 'planet'), planet_path(planet.id) %>
       <% end %>
       <% unless planet.name != 'Saturn' %>
         <%= link_to image_tag(planet.image, :alt => planet.name, :class => 'saturn'), planet_path(planet.id) %>
       <% end %>
    </div>
   </p>
  <% end %>
</aside>

<% if @current_user.present? %>
 <div class="controls new-planet">
   <h3><%= link_to 'New Planet', new_planet_path %></h3>
 </div>
<% end %>
