<p id="notice"><%= notice %></p>

<h2 id="small-planets-h2">Planets</h2>
<div id="solar-animation">
  <%= content_tag :div, id: "solar", data: {planets: @planets} do %>
  <% end %>
</div>
<script>
  // $(window).scroll(function(){
  // let threshold = 800; // number of pixels before bottom of page that you want to start fading
  // var op = (($(document).height() - $(window).height()) - $(window).scrollTop()) / threshold;
  // if( op <= 0 ){
  //   $(".dg.a ").hide();
  // } else {
  //   $(".dg.a").show();
  // }
  // $(".dg.a").css("opacity", op );
  // });
</script>

<aside class="planet-list">
  <% @planets.each do |planet| %>
   <p id="planet-index">
     <div id="orb-container">
       <div id="orb-text-centered">
         <%= link_to planet.name, planet_path(planet.id) %>
       </div><!-- END of orb-text-centered DIV -->

      <% if planet.image == nil || planet.image.empty? %>
          <div id="empty-orb"></div>
      <% end %>

      <% if planet.name == 'Saturn' %>
          <%= link_to image_tag(planet.image, :alt => planet.name, :class => 'saturn'), planet_path(planet.id) %>
      <% end %>

      <% unless planet.image == nil || planet.image.empty? || planet.name == 'Saturn' %>
          <%= link_to image_tag(planet.image, :alt => planet.name, :class => 'planet'), planet_path(planet.id) %>
      <% end %>
    </div><!-- END of orb-container DIV -->
  </p><!-- END of planet-index P tag -->
  <% end %>
</aside>

<% if @current_user.present? %>
 <div class="controls new-planet">
   <h3><%= link_to 'New Planet', new_planet_path %></h3>
 </div>
<% end %>
