<p id="notice"><%= notice %></p>

<% unless @planet.image == nil || @planet.image.empty? %>
  <%= link_to image_tag(@planet.image, :alt => @planet.name, :class => 'thumb'), @planet.image %>
<% end %>

<div class="show-text">
  <h2>About <%= @planet.name %></h2>
  <p>
    <strong><%= @planet.name %> radius</strong>
    <%= @planet.radius_planet %> km
  </p>

  <p>
    <strong>Number of moons </strong>
    <%= @planet.num_moon %>
  </p>

  <% @planet.moons.each do |moon| %>
    <li><%= link_to moon.name, moon %></li>
  <% end %>

  <p>
    <strong>Distance from sun</strong>
    <%= @planet.distance_sun %> million km
  </p>

  <p>
    <% if @planet.name == 'Earth' %>
      <strong>Time taken to orbit the sun</strong>
      <%= (@planet.orbit_sun).round %> year
    <% else %>
      <strong>Time taken to orbit the sun</strong>
      <%= @planet.orbit_sun %> Earth years
    <% end %>
  </p>

  <p>
    <%= simple_format(@planet.info) %>
  </p>

</div><!-- END show-text DIV -->

<% if @current_user.present? %>
  <div class="controls">
    <%= link_to 'Edit planet', edit_planet_path(@planet) %>
    <!-- <%# link_to 'New planet', new_planet_path %> | -->
    <% if @current_user.admin %>
      | <%= link_to 'Delete planet', @planet, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
