<div class="form-group">
  <%= form_for @moon, :html => { :multipart => true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name, :autofocus => true %>

      <%= f.label :distance_planet %>
      <%= f.text_field :distance_planet, :autofocus => true %>

      <%= f.label :radius_moon %>
      <%= f.text_field :radius_moon, :autofocus => true %>

      <%= f.label :orbit_planet %>
      <%= f.text_field :orbit_planet, :autofocus => true %>

      <%= f.label :image %>
      <%= f.url_field :image, :autofocus => true %>

      <%= f.label :info %>
      <%= f.text_area :info, :autofocus => true %>

        <h3>Add Planet</h3>
        <%= label_tag :name %>
        <%= f.select :planet_id, Planet.pluck(:name, :id), :include_blank => true %>

      <%= f.submit %>
    <% end %>
</div>
