<p id="notice"><%= notice %></p>

<h1>Moons</h1>

<% @moons.each do |moon| %>
  <p>
    <%= link_to moon.name, moon_path(moon.id) %>
  </p>
<% end %>

<<<<<<< HEAD
<h3><%= link_to 'New Moon', new_moon_path %></h3>
<td><%= image_tag moon.link %></td>
=======
<% if @current_user.present? %>
<div class="controls">
  <h3><%= link_to 'New Moon', new_moon_path %></h3>
</div>
<% end %>
>>>>>>> f165abfb552eb1ce8b35dae06055e03a3b14362f
