<p id="notice"><%= notice %></p>

<% unless @moon.image == nil || @moon.image.empty? %>
  <%= link_to image_tag(@moon.image, :alt => @moon.name, :class => 'thumb'), @moon.image %>
<% end %>

<div class="show-text">
  <h2><%= @moon.name %></h2>
  <p>
    <strong><%= @moon.name %> radius</strong>
    <%= @moon.radius_moon %> km
  </p>

  <p>
    <strong>Orbits planet </strong>
    <%= link_to @moon.planet.name, planet_path(@planet) %>
  </p>

  <p>
    <strong>Distance from <%= @moon.planet.name %></strong>
    <%= @moon.distance_planet %> km
  </p>

  <p>
    <% if @moon.orbit_planet %>
      <strong>Time taken to orbit <%= @moon.planet.name %></strong>
      <%= (@moon.orbit_planet).round %> Earth hours
    <% end %>
  </p>

  <p id="wikioutput">
    <%= simple_format(@moon.info) %>
  </p>
</div><!-- END show-text DIV -->

<% if @current_user.present? %>
  <div class="controls">
    <%= link_to 'Edit moon', edit_moon_path(@moon) %>
    <% if @current_user.admin %>
      | <%= link_to 'Delete moon', @moon, :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>
